  * {
    box-sizing: border-box;
  }

  
  
  ul {
    display: flex;
  }

h2 {
  background-color: royalblue;
  align-items: center;
}

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  body {
    background-color: #c90505;
  }

  a {
    margin: 7px;
    color: white;
    width: 33vw
  }

#logo_header img { 
    width: 100vw;
    height: 75vh;
   }
 

img {
  width: 45vw;
  margin: 5px;
 }

